@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --background-color: #eff1fa;
  --input-text-color: #0a3871;
  --content-text: #495057;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  padding: 1rem;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--background-color);
}

main {
  display: flex;
  padding: 4rem;
  gap: 20%;
}

button {
  cursor: pointer;
}

textarea {
  border: none;
  background: none;
  color: var(--input-text-color);
  width: 100%;
  height: 90%;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  resize: none;
  font-family: var(--font-family);
}

textarea::placeholder {
  color: var(--input-text-color);
  font-size: 2rem;
  font-family: var(--font-family);
}

textarea:focus {
  outline: none;
}
.input-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.informative-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.informative-message {
  color: var(--content-text);
  font-size: 0.75rem;
  margin-bottom: 0.8rem;
}

.button-row {
  display: flex;
  gap: 0.5rem;
}

.encript-button {
  border: none;
  color: var(--background-color);
  background-color: var(--input-text-color);
  text-align: center;
  padding: 1.5rem;
  border-radius: 1.5rem;
  width: 328px;
  height: 67px;
}

.desencript-button {
  border-color: var(--input-text-color);
  color: var(--input-text-color);
  background-color: "#D8DFE8";
  text-align: center;
  padding: 1.5rem;
  border-radius: 1.5rem;
  width: 328px;
  height: 67px;
}

.result-container {
  width: 40vw;
  height: 75vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0px 24px 32px -8px var(--content-text);
}

.result-texts {
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
  display: flex;
}

.result-title {
  font-size: 1.5rem;
  text-align: center;
  color: #343a40;
}

.show-result {
  font-size: 1.5rem;
  width: 40vw;
  height: 75vh;
  padding: 1.5rem;
  align-items: start;
  justify-content: start;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2rem;
}

@media (max-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 5%;
    height: 90vh;
  }

  .image {
    width: 50px;
    height: 30px;
  }

  textarea {
    width: 100%;
    height: 40vh;
  }

  .encript-button {
    width: 343px;
    height: 67px;
  }

  .desencript-button {
    width: 343px;
    height: 67px;
  }

  .button-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .result-container {
    width: 100%;
    height: 40vh;
  }

  .show-result {
    width: 88vw;
    height: 40vh;
  }

  .result-texts {
    margin-top: 0rem;
  }

  .hide-image {
    display: none;
  }
}
